<footer class="navbar-fixed-bottom">
  <div class="footer-copyright">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-5">
          <h5>&#169; nkagent.ru 2018 - общегородской прайс</h5>
        </div>
      </div>
    </div>
  </div><!--/.footer-copyright-->
</footer>