<footer>
	<div class="footer-copyright">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-9">
					<h5>Basic products: Nodejs8, Express4, Postgresql9, Bootstrap3, Express-handlebars</h5>
				</div>
				<div class="col-md-3">
					<h5>Control Panel nkagent.ru 2018 year</h5>
				</div>
			</div>
		</div>
	</div><!--/.footer-copyright-->
</footer>